.Users {
    width: 600px;
    border: 1px solid rgb(184, 49, 78);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.avatar {
    width: 70px;
    height: 100px;
}

.Navigation {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}

.selectedPage {
    font-weight: bold;
}
